body {
  background-image:url("https://hires.shareable.com/resources/preemployment/img/blogs/thumbnails/B-how-to-do-employment-screening-Thumbnail-082517.png");
  /* background-image: url("http://missiodei-gso.com/wp-content/uploads/2014/01/stainedpaper7.jpg"); */
    /* background-image: url('To-do-Project-SES/assest/background.png');  */
  background-size: cover;
  text-align: center;
  margin-top: 100px;

}
.mark, .delete {
  font-size: 20px;
  background-color: #bf8040;
}
.list {
  font-size: 35px;
  text-align: center;
}
ul {
  text-align: center;
  list-style: inside;
}
input {
  text-align: center;
}
